@font-face {
  font-family: Digital-7;
  src: url(assets/Digital-7.ttf);
}

:root {
  scroll-behavior: smooth;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-color: #D3EEDD;
  background-image: url("assets/background.jpg");
  --shadow: #1F1F1F;
  --dark-red: #CC2C10;
}
/* Container */
body {
  display: inherit;
  flex-direction: column;
  text-align: center;
  font-family: Verdana, sans-serif;
  text-shadow: 2px 2px 1px var(--shadow);
  gap: 8px;
}

header {
  height: 3em;
  line-height: 0;
  border-radius: 2em;
  color: #54A652;
}

main {
  width: 32em;
  height: 24em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 13em;
  margin: 0 1em;
  padding: 1em;
  color: #FBFBF8;
  background: #FF3814;
  box-shadow: inset -1em 4px 12px 4px tomato,
              0 0 4px 1px var(--shadow);
}
/* Controls */
figure {
  font-weight: bold;
  font-size: 20px;
  line-height: 0;
  margin-top: 4rem;
}

span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  margin-top: 1rem;
  gap: 1rem;
}

button {
  display: inherit;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  width: 36px;
  height: 36px;
  border: 0;
  border-radius: 50%;
  background: none;
}
button:active {
  background: var(--dark-red);
}

img {
  width: 2em;
  height: 2em;
}

p, time {
  width: 1.6rem;
  font-size: 2rem;
  font-family: Digital-7;
}
/* Session */
section {
  text-align: center;
  grid-column: 1 / span 2;
}

h2 {
  line-height: 1rem;
}

time {
  font-size: 3rem;
}
/* Footer */
footer {
  font-size: 17px;
  font-weight: bold;
  text-shadow: none;
  color: var(--dark-red);
}

a {
  font-weight: normal;
  color: var(--shadow);
}
a:hover {
  color: #3A7439;
}
/* Responsive */
@media only screen and (max-width: 576px) {
  main {
    width: 18em;
    height: 17em;
    border-radius: 9em;
    grid-template-columns: 1fr;
  }
  /* Controls */
  figure {
    font-size: 1rem;
    margin-top: 1em;
    margin-bottom: -1em;
  }

  span {
    margin-top: 12px;
  }

  button {
    width: 2em;
    height: 2em;
  }

  img {
    width: 1rem;
    height: 1rem;
  }

  p, time {
    font-size: 27px;
  }
  /* Session */
  section {
    grid-column: 1;
  }

  h2 {
    font-size: 19px;
  }
}

@media only screen and (max-height: 576px) {
  :root {
    padding: 6em;
  }
}